export(FDiff)
export(F_Spline1D)
export(F_Spline2D)
export(F_Spline3D)
export(F_SplineInt1D)
export(computeVarRanges)
export(param0)
exportClasses(FDiff)
exportMethods("%*%")
exportMethods("*")
exportMethods("+")
exportMethods("-")
exportMethods("/")
exportMethods("[")
exportMethods("^")
exportMethods(appendJac)
exportMethods(initialize)
exportMethods(pMax)
exportMethods(print)
exportMethods(rbind2)
import(Matrix)
import(data.table)
