export(FDiff)
export(F_Linear)
export(F_Spline)
export(F_Spline1D)
export(F_Spline2D)
export(F_Spline3D)
export(F_SplineInt1D)
export(computeVarRanges)
export(expandJacDomain)
export(fixedParam)
export(getSparseValues)
export(ipoptr.sparse)
export(mpec.addAbsConstraint)
export(mpec.addInequalityConstraint)
export(mpec.addVar)
export(mpec.getBoundsAsVector)
export(mpec.getObjective)
export(mpec.getVar)
export(mpec.getVarRange)
export(mpec.getVarsAsVector)
export(mpec.new)
export(mpec.reset)
export(mpec.setVarsFromVector)
export(mpec.solve)
export(mpec.vectorToList)
export(param0)
exportClasses(FDiff)
exportMethods("%*%")
exportMethods("*")
exportMethods("+")
exportMethods("-")
exportMethods("/")
exportMethods("^")
exportMethods(abs)
exportMethods(appendJac)
exportMethods(initialize)
exportMethods(log)
exportMethods(pMax)
exportMethods(print)
exportMethods(rbind2)
exportMethods(sum)
import(Matrix)
import(data.table)
import(splines)
