export(FDiff)
export(F_Linear)
export(F_Spline1D)
export(F_Spline2D)
export(F_Spline3D)
export(F_SplineInt1D)
export(computeVarRanges)
export(fixedParam)
export(getSparseValues)
export(mpec.vars.collate)
export(mpec.vars.desc)
export(mpec.vars.extract)
export(mpec.vars.init)
export(mpeccable.csolve)
export(param0)
exportClasses(FDiff)
exportMethods("%*%")
exportMethods("*")
exportMethods("+")
exportMethods("-")
exportMethods("/")
exportMethods("^")
exportMethods(appendJac)
exportMethods(initialize)
exportMethods(log)
exportMethods(pMax)
exportMethods(print)
exportMethods(rbind2)
exportMethods(sum)
import(Matrix)
import(data.table)
import(splines)
